*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans";
  font-size: 1.8rem;
}

h1 {
  font-size: 4rem;
}

p {
  line-height: 1.6;
  color: hsl(233, 8%, 62%);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.nav_bar {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav_toggler {
  justify-self: end;
  align-self: center;
}

.nav_list {
  display: none;
  list-style: none;
}

.link {
  text-decoration: none;
  font-size: 1.8;
  color: hsl(0, 0%, 61%);
}

.nav_btn,
.first_btn,
.f_btn {
  padding: 1.5rem 2rem;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: #fff;
  border-radius: 30px;
  border: 0;
  outline: 0;
}

.nav_btn:hover,
.first_btn:hover,
.f_btn:hover {
  opacity: 0.8;
}

.nav_btn {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav_bar {
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 5rem;
  }

  .nav_btn {
    justify-self: end;
  }

  .nav_toggler {
    display: none;
  }

  .nav_list {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-self: center;
  }

  .link:hover {
    padding-bottom: 3rem;
    border-bottom: 5px solid hsl(136, 65%, 51%);
  }

  .nav_logo {
    align-self: center;
  }

  .nav_btn {
    display: block;
    width: 150px;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1440px) {
  .nav_bar {
    padding: 3rem 8rem;
  }
}

.first {
  overflow-x: hidden;
  background: url(../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.first_img {
  width: 100%;
}

.first_content {
  text-align: center;
  padding-bottom: 10rem;
}

.first_content h1 {
  font-weight: 300;
}

.first_content p {
  margin-bottom: 3rem;
}

.first_grid {
  display: grid;
  gap: 4rem;
}

@media screen and (min-width: 1024px) {
  .first {
    background: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
  }

  .first_grid {
    grid-template-columns: 40% 55%;
    gap: 10rem;
  }

  .first_img {
    order: 2;
    max-width: 800px;
    content: url(../images/cropped_desktop.png);
    justify-self: end;
    transform: translateX(15%);
  }

  .first_content {
    text-align: left;
    align-self: center;
    padding-bottom: 0;
  }
}

.second {
  padding: 10rem 0 10rem 0;
  background: hsl(220, 16%, 96%);
}

.second_header {
  text-align: center;
  margin-bottom: 10rem;
}

.second_header h2 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.second_content {
  text-align: center;
}

.second_content img,
.second_content h3 {
  margin-bottom: 3rem;
}

.second_content h3 {
  font-size: 2.5rem;
  font-weight: 300;
}

.second_grid {
  display: grid;
  gap: 3rem;
}

@media screen and (min-width: 1024px) {
  .second_header {
    text-align: left;
    width: 60%;
  }

  .second_grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .second_content {
    text-align: left;
  }
}

.third {
  padding: 10rem 0 10rem 0;
  background: hsl(0, 0%, 98%);
}

.third_heading {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.third_content {
  background: #fff;
  text-align: center;
}

.third_content img {
  width: 100%;
}

.third_description {
  text-align: left;
  padding: 3rem 2rem 5rem 2rem;
}

.third_description .author {
  font-size: 1.3rem;
  color: hsl(233, 8%, 62%);
}

.third_description h3 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 2rem 0 2rem 0;
}

.third_description h3:hover {
  color: hsl(136, 65%, 51%);
}

.third_grid {
  display: grid;
  gap: 3rem;
}

@media screen and (min-width: 1024px) {
  .third_heading {
    text-align: left;
  }

  .third_content img {
    height: 230px;
  }

  .third_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  background: hsl(233, 26%, 24%);
  padding: 5rem 0 5rem 0;
  text-align: center;
}

.footer_header {
  margin-bottom: 3rem;
}

.f_logo {
  margin: 3rem;
}

.footer_icon {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.icon:hover {
  filter: invert(56%) sepia(100%) saturate(347%) hue-rotate(84deg)
    brightness(99%) contrast(90%);
}

.footer_links {
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;
}

.footer_links a {
  text-decoration: none;
  color: #fff;
}

.footer_links a:hover {
  color: hsl(136, 65%, 51%);
}

.f_btn {
  margin-bottom: 3rem;
}

.footer_grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .footer_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer_links {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .footer_bottom {
    align-self: center;
  }
}
